/* Google fonts import */
@import url(https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

/* Wildcard selector to override brwoser default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Barlow', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Barlow';
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* Header */
header {
    background-color: #c4c5c6;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: 0;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    margin-top: 1rem;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 1px solid #3a3a3a;
    border-top: 1px solid #3a3a3a;
}

/* Nav bar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #c4c5c6;
    padding: 0 1rem;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 35px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Cover image */
#cover {
    height: 350px;
    width: 100%;
    background: url("../images/Cover-image.jpg") no-repeat center center/cover;
    position: relative;
}

/* Club section */
#about-us {
    height: 830px;
    width: 90%;
    margin: 20px auto;
}

#welcome {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#club h3 {
    color: #252525;
    padding-top: 20px;
    font-size: 150%;
}

#about-us hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#left-about {
    padding-top: 10px;
    float: left;
    width: 33%;
}

#right-about {
    padding-top: 10px;
    float: right;
    width: 33%;
}

.left-about-head {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 20px;
}

.right-about-head {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 20px;
}

.right-about-head p,
.left-about-head p {
    font-size: large;
}

/* Timeline */
#timeline-container {
    width: 400px;
    height: 700px;
    padding: 30px;
    margin: 0 auto;
    align-content: center;
}

#timeline-bg {
    background: url(../images/Timeline.png) no-repeat top center;
    height: 100%;
    margin-bottom: 20px;
    max-width: 360px;
    max-height: 797px;
}


/* Gallery page */
#gallery {
    margin-top: 50px;
}

#gallery p {
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-size: 110%;
}

#photos img {
    width: 100%;
    line-height: 1em;
    border: 3px solid #c4c5c6;
}

#photos {
    line-height: 0;
}

/* Event Page */
#events h2 {
    margin-left: 1em;
    margin-top: 40px;
}

#dates {
    background: url(../images/Cover-image.jpg) no-repeat center/cover;
    /* handles responisvity without media query */
    display: flex;
    flex-wrap: wrap;
}

#dates div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;
    text-align: center;
    /* This will not wrap on screens less than 400px */
    flex-basis: 500px;
    flex-grow: 1;
    border: 2px solid white;
}

#dates h2,
h3 {
    /* Override general H3 color */
    color: #fafafa;
    margin: 0;
}

#dates p {
    font-size: 130%;
}

/* Form */
#join {
    background-image: url("../images/pexels-amar-preciado-15449281.jpg");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    min-height: 610px;
}

#signup-form {
    max-width: 400px;
    color: #ffffff;
    background-color: rgba(23, 36, 74, 0.6);
    padding: 30px;
    border-radius: 20px;
}

#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

#newsletter>h2 {
    color: #ffffff;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #c4c5c6;
    color: #252525;
}


/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #c4c5c6;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

#social-networks i:hover {
    color: #ffffff;
}

/* MEDIA QUERIES */


/* For larger to medium screen size from 1200px and down */
@media screen and (max-width: 1200px) {
    #about-us {
        width: 65%;
        height: 1500px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about,
    #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #timeline-container {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    .left-about-head h3,
    .right-about-head h3 {
        width: 100%;
        text-align: center;
    }

    .left-about-head p,
    .right-about-head p {
        text-align: center;
        padding: 0 20px;
        width: 100%;
        font-size: 150%;
    }

    /* Gallery */
    #photos {
        column-count: 3;
    }

}

/* Media Query: Laptops and desktops (992px and down) */
@media screen and (max-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
        border-top: 1px solid #3a3a3a;
        text-transform: uppercase;
    }

    #about-us {
        width: 65%;
        height: 1500px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about,
    #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    .left-about-head h3,
    .right-about-head h3 {
        width: 100%;
        text-align: center;
    }

    .left-about-head p,
    .right-about-head p {
        text-align: center;
        padding: 0 20px;
        font-size: 150%;
    }

    #timeline-container {
        clear: both;
        width: 100%;
        padding: 0;
    }

    /* Gallery */
    #photos {
        column-count: 3;
    }
}

/* Media Query: Large or landscape phones (865px and down) */
@media screen and (max-width: 865px) {

    /* Main content */

    main {
        /* Push main content down to accommodate header */
        margin-top: 35px;
    }

    #welcome {
        font-size: 180%;
        padding: 20px 0;
        margin: 0;
    }

    #about-us {
        width: 90%;
        height: 1000px;
        margin: 0 auto;
    }

    .left-about-head,
    .right-about-head {
        width: inherit;
        font-size: 80%;
    }

    .left-about-head h3,
    .right-about-head h3 {
        width: 100%;
        text-align: center;
    }

    .left-about-head p,
    .right-about-head p {
        text-align: center;
        padding: 0 20px;
    }

    /* Gallery */
    #gallery {
        margin-top: 20px;
    }

    #photos {
        column-count: 1;
    }

    #events h2 {
        margin-top: 15px;
    }

    /* Form */
    #signup-form {
        position: absolute;
        left: 10%;
        top: 150px;
    }

    .text-input:hover {
        border-color: #f16c6b;
    }

    .join-button:hover {
        background-color: #252525;
        color: #c4c5c6;
    }
}

/* Media Query: Large or landscape phones (865px and up) */
@media screen and (min-width: 865px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-right: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    .left-about-head,
    .right-about-head {
        width: 100%;
        font-size: 80%;
    }

    /* Gallery */
    #photos {
        column-count: 2;
    }

    /* Form */
    #signup-form {
        max-width: 400px;
        position: absolute;
        left: 10%;
        top: 150px;
    }

    .text-input:hover {
        border-color: #f16c6b;
    }

    .join-button:hover {
        background-color: #252525;
        color: #c4c5c6;
    }
}

/* Media Query: Large or landscape phones (390px and down) */
@media screen and (max-width: 390px) {
    #photos {
        column-count: 1;
    }

    /* Gallery */
    #gallery {
        margin-top: 50px;
    }

    #events h2 {
        margin-left: 1em;
        margin-top: 50px;
    }
}